.col-sm-10 input{
	width: 350px;
	margin-top: 10px;
	margin-bottom:10px;
}
.data input{
	width: 100px;
}
select.form-control:not([size]):not([multiple]){
    height: 35px;
    width: 350px;
}
ul li{
	margin-left: 40px!important;
}
/*.form-control{
    width: 100%;
    height: calc(2.76rem + 2px);
    padding: 0.63rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: #1e2022;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #eeeef1;
    border-radius: 0.125rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}*/
.form-control{
    height: 30px;
}
.notas input, .faltas input{
    width: 100px;
}
.card{
    width: auto;
}
.form-control:disabled{
    background-color: #f3f4f5;
}