      {% load static %}
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-2">
          <div class="container-fluid">
              <a class="navbar-brand icon ion-ios-menu menu-toggle"  href="#"></a>
              <a class="navbar-brand icon ion-ios-cube" id="menu-main" href=""></a>
              <a class="navbar-toggler icon ion-ios-menu" id="menu-direito"href="#" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              </a>

              <div class="collapse navbar-collapse ml-4 py-2" id="navbarNavDropdown">
                <ul class="navbar-nav">
 
                    <li class="nav-item dropdown">
                      <a class="nav-link icon ion-md-notifications" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"   aria-haspopup="true" aria-expanded="false">
                      </a>
                      <a href="#" class="nav-link notif" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="">Notificações</span></a>

                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                       <a class="dropdown-item" href="#">Meu perfil</a>
                          <a class="dropdown-item" href="/admin">Configurações</a>
                          <a class="dropdown-item" href="#">Sair</a>
                      </div>
                    </li>
            
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="rounded-circle mr-2" src="{% static 'img/avatar.jpg' %}" alt="Chris Wood" width="40"></img><span class="user-nav">{{user.first_name}} {{user.last_name}}</span>
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/usuarios/perfil">Meu perfil</a>
                          <a class="dropdown-item" href="/admin">Configurações</a>
                          <a class="dropdown-item" href="/logout">Trocar usuário</a>
                          <a class="dropdown-item" href="/logout">Sair</a>
                      </div>
                    </li>
                </ul>         
          </div>  
        </nav>